<link rel="stylesheet" href="app.component.css">
<div class="allll">
<div class="filters">
  <div class="input-data">
        <input [(ngModel)]="searchValue" type="text" class="form-control" placeholder="filter by category - click me">
  </div>
  </div>
  </div>
<body>

<div class="header_fixed">
  <table class="table">

    <thead>

    <tr>

      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>View more</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offers of Offers | searchfilter: searchValue">
      <td><span>{{offers.OffID}}</span></td>
      <td><span>{{offers.title}}</span></td>
      <td><span>{{offers.description}}</span></td>
      <td><span>{{offers.price}}</span></td>
      <td><span>{{offers.category_id}}</span></td>
      <td><button>View</button></td>

    </tr>
    </tbody>
  </table>
</div>
</body>

